[submodule "storage"]
	path = storage
	url = https://github.com/warlords2/storage.git
[submodule "common"]
	path = common
	url = https://github.com/warlords2/common.git
[submodule "audit"]
	path = audit
	url = https://github.com/warlords2/audit.git
[submodule "backend"]
	path = backend
	url = https://github.com/warlords2/backend.git
[submodule "game_machine"]
	path = game_machine
	url = https://github.com/warlords2/game_machine.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/warlords2/frontend.git
